@model venditiun.Models.Project

@{
    ViewData["Title"] = "Szczegóły";
}

    <h1>Szczegóły projektu: @Html.DisplayFor(model => model.Name)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Decription)</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-3">
            Stworzone przez
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-3">
            Data utworzenia
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-3">
            Zaktualizowane przez
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class="col-sm-3">
            Data aktualizacji
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Powróć o listy projektów</a>
</div>
