@model IEnumerable<venditiun.Models.Project>

@{
    ViewData["Title"] = "Projekty";
}

<h1>Projekty</h1>

<p>
    <a asp-action="ProjectCreate">Dodaj projekt</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Opis
            </th>
            <th>
                Stworzone przez
            </th>
            <th>
                Data utworzenia
            </th>
            <th>
                Zaktualizowane przez
            </th>
            <th>
                Data aktualizacji
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Decription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByUser.Firstname) @Html.DisplayFor(modelItem => item.CreatedByUser.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedByUser.Firstname) @Html.DisplayFor(modelItem => item.UpdatedByUser.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    <a asp-action="ProjectEdit" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="ProjectDetails" asp-route-id="@item.Id">Szczegóły</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
