@model venditiun.Models.Project

@{
    ViewData["Title"] = "Usuń";
}

<h1>Usuń</h1>

<h3>Na pewno chcesz usunąć projekt: @Html.DisplayFor(model => model.Name)</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Decription)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Stworzone przez
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-3">
            Data utworzenia
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-3">
            Zaktualizowane przez
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class="col-sm-3">
            Data aktualizacji
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>

    <form asp-action="ProjectDelete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
    </form>
</div>

<br/>

<div>
    <a asp-action="ProjectsList">Powróć do listy projektów</a>
</div>
