@model venditiun.Models.Project

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły projektu: @Html.DisplayFor(model => model.Name)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Decription)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Status
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Status.Name)
        </dd>
        <dt class="col-sm-3">
            Stworzone przez
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedByUser.Firstname) @Html.DisplayFor(model => model.CreatedByUser.LastName)
        </dd>
        <dt class="col-sm-3">
            Data utworzenia
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-3">
            Zaktualizowane przez
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UpdatedByUser.Firstname) @Html.DisplayFor(model => model.UpdatedByUser.LastName)
        </dd>
        <dt class="col-sm-3">
            Data aktualizacji
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
    <hr />
    <p>
        <a asp-route="taskcreate" asp-route-projectid="@Model.Id">Dodaj zadanie</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Nazwa
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Stworzone przez
                </th>
                <th>
                    Data utworzenia
                </th>
                <th>
                    Zaktualizowane przez
                </th>
                <th>
                    Data aktualizacji
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.Tasks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modeltask => task.Status.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modeltask => task.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modeltask => task.Decription)
                    </td>
                    <td>
                        @Html.DisplayFor(modeltask => task.CreatedByUser.Firstname) @Html.DisplayFor(modeltask => task.CreatedByUser.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modeltask => task.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modeltask => task.UpdatedByUser.Firstname) @Html.DisplayFor(modeltask => task.UpdatedByUser.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modeltask => task.UpdatedDate)
                    </td>
                    <td>
                        <a asp-route="taskedit" asp-route-id="@task.Id" asp-route-projectid="@task.ProjectId">Edytuj</a> |
                        <a asp-route="taskdetails" asp-route-id="@task.Id" asp-route-projectid="@task.ProjectId">Szczegóły</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="ProjectEdit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="ProjectsList">Powrót o listy projektów</a>
</div>
