@model venditiun.Models.Task

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły zadania: @Html.DisplayFor(model => model.Name)</h1>
<h4>Projekt: @Html.DisplayFor(model => model.Project.Name)</h4>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-3">
            Status
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Status.Name)
        </dd>
        <dt class="col-sm-3">
            Opis
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Decription)
        </dd>
        <dt class="col-sm-3">
            Stworzone przez
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedByUser.Firstname) @Html.DisplayFor(model => model.CreatedByUser.LastName)
        </dd>
        <dt class="col-sm-3">
            Data utworzenia
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-3">
            Zaktualizowane przez
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UpdatedByUser.Firstname) @Html.DisplayFor(model => model.UpdatedByUser.LastName)
        </dd>
        <dt class="col-sm-3">
            Data aktualizacji
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
    <hr />
    <p>
        <a asp-route="jobcreate" asp-route-projectid="@Model.ProjectId" asp-route-taskid="@Model.Id">Dodaj czas</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Nazwa
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Stworzone przez
                </th>
                <th>
                    Data utworzenia
                </th>
                <th>
                    Zaktualizowane przez
                </th>
                <th>
                    Data aktualizacji
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in Model.Jobs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modeltask => job.Status.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modeltask => job.Decription)
                    </td>
                    <td>
                        @Html.DisplayFor(modeltask => job.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modeltask => job.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modeltask => job.UpdatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modeltask => job.UpdatedDate)
                    </td>
                    <td>
                        <a asp-route="jobedit" asp-route-id="@job.Id" asp-route-projectid="@job.Id" asp-route-taskid="@job.TaskId">Edytuj</a> |
                        <a asp-route="jobdetails" asp-route-id="@job.Id" asp-route-projectid="@job.Id" asp-route-taskid="@job.TaskId">Szczegóły</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-route="taskedit" asp-route-id="@Model.Id" asp-route-projectid="@Model.ProjectId">Edytuj</a> |
    <a asp-route="projectdetails" asp-route-id="@Model.ProjectId">Powrót do projektu</a>
</div>
